@model ApiJsonViewModel
@{
    ViewData["Title"] = Model.Title;
}

<h1 class="h4 mb-3">@Model.Title</h1>
<partial name="_ApiMessages" model="Model" />
@if (Model.Result.Succeeded)
{
    <div class="card">
        <div class="card-body">
            <partial name="_JsonDetails" model="Model.Result.Data" />
        </div>
    </div>
}
